body{
    text-align: center;
}
button {
    background-color: white;
    color: #04AA6D;
    border: 2px solid #04AA6D;
    width: 170px;
    height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    
  }
  button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 0 30px   #04AA6D;
  }
  input{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 25px;

  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
  }
  hr{
    padding: 10px;
    background-color: #04AA6D;
  }